
{{#if hasDinamycRoutes}}
export default function Page({ params }{{#if isTypeScript}}: { params: { {{#each dynamicRoutes}}{{this}}: string{{#unless @last}}, {{/unless}}{{/each}} } }{{/if}}) {
  const { {{#each dynamicRoutes}}{{this}}{{#unless @last}}, {{/unless}}{{/each}} } = params;

  return <h1>Hello World</h1>
}
{{else}}
export default function Page() {
  return <h1>Hello World</h1>
}
{{/if}}