import { ReactNode } from "react"

export default function {{pascalCase name}}({
    children, 
  }: {
    children: ReactNode
  }) {
    return (
      <section>
        {children}
      </section>
    )
  }